/build
/mdsplus_backend.d
/memory_backend.d
/al_backend.d
/al_const.d
/al_context.d
/al_low_level.d
/al_lowlevel.d
/html/
/latex/
/uda_backend.d*
/mdsplus_backend.d
doxygen_sqlite3.db
/printMDSplusFileVersion
sources_install
pkgconfig_install
*.d.*
*.a_install
*.so_install
al_defs.h
__pycache__/
.py-build-cmake_cache/
/dist/
/python/imas_core/_version.py
*Zone.Identifier
CMakeUserPresets.json
/vcpkg_installed/
settings.json
/build*/
cmake-build-*/
/_deps/
/CMakeFiles
CMakeCache.txt
/test-install/
coverage.xml
clover.xml
results.xml
.coverage
python/bin/
python/imas_core.libs/
python/imas_core/*.pyd
python/include/
python/lib/
/_trash/
/.venv/
/vcpkg/
/UDA-*/
.idea
/graphify-out
